.container {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px auto;                   /*对象上下间隔为0px，左右间隔根据对象宽度自适应*/
}
.header {
    margin-left: 150px;
    margin-right: 150px;
}
.nav {
    clear: both;
	height: 36px;
	overflow: hidden;                  /*隐藏下划线*/
}
.nav a{
    display: block;
	float: left;
	height: 36px;
	line-height: 36px;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 等线;
    font-weight: bold;
    font-size: 18px;
}
.context {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 80px;
    border-style: solid;
    border-width: 6px;
    border-color: #DFDFDF;
    padding: 10px 20px 10px 20px;
    background-color: #A6D0E4;
    overflow:hidden;
    zoom:1;
}
h1 {
    font-family: 华文行楷;
    font-size: 3.0em;
    position: relative;
    left: 20px;
}
p.info {
    font-family: 等线;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left:120px;
    bottom: 20px;
}
onepart {
    margin: 5px 5px 5px 5px;
    float: left;
    width: 45%;
}
twopart {
    margin: 5px 5px 5px 5px;
    float: right;
    width: 45%;
}
line {
    float: left;  
    width: 50px;  
    border-right: 1px dashed #E78775;  
    border-width: 2px;                       /* 边框为2像素，虚线，颜色为#E78775*/
    padding-bottom: 1600px;
    margin-bottom: -1600px;
}
h3 {
    font-family: 等线;
}
table tr td{
    padding: 10px;
    align-items: center;
}
.title {
    color: #FFFFFF;
    background-color: #E78775;
    padding: 5px 5px 5px 5px;
}
.footer {
    background-color: #393939;
    padding: 20px 0px 5px 0px;
    color: #FFFFFF;
    text-align: center;
    clear: both;               /*不允许有浮动对象*/
}
/* 未访问的链接*/
a:link {
    color: #FFFFFF;
}
/* 已访问的链接*/
a:visited {
    color: #2E89BA;
}
/* 鼠标移动到链接上*/
a:hover {
    color: #FF395E;
}
/* 选定的链接*/
a:active {
    color: #597FCA;
}